<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="use_sim_true" value="true"/>
    <!-- <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
    <rosparam file="$(find pcl_proc)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find pcl_proc)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find pcl_proc)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find pcl_proc)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
  </node>
</launch>